* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--background-backgroundcolor: #1c1e1f;
	--text-color: #f7f0f5;
}

body {
	background-color: var(--background-backgroundcolor);
	color: var(--text-color);
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
}

// nav

.navbar-brand {
	color: var(--text-color);
	font-size: 3rem;
	transition: color 0.3s, scale 0.3s;

	span {
		color: #30c5ff;
		transition: color 0.3s, scale 0.3s;
	}
}

.nav-link {
	color: var(--text-color);
	margin-right: 2em;
	border-bottom: 0px solid transparent;
	transition: color 0.3s, scale 0.3s;
}

.nav-link,
.navbar-toggler-icon {
	font-size: 1.8rem;
	text-transform: uppercase;
}

.navbar-toggler {
	padding: 1em;
}

// home

.home-boxes {
	position: relative;
	height: 100%;
	padding: 10em 0;
	margin-top: 20em;

	.text-box {
		.heading-p {
			color: blueviolet;
			font-size: 2.6rem;
		}
	}
	.last-p {
		font-size: 2.6rem;
	}
	.text-span {
		color: blueviolet;
	}


	.img-box {
		img {
			height: 200px;
			width: 200px;
		}
	}
}

// media

@media (min-width: 992px) {
	.nav-link:hover {
		scale: 1.3;
		color: blueviolet;
	}
	.navbar-brand:hover {
		color: #30c5ff;
		scale: 1.3;

		span {
			color: var(--text-color);
			scale: 1.3;
		}
	}
}
